{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid p-0">
        <iframe 
            src="https://docs.google.com/spreadsheets/d/1O233pr6tzy1ojhQH7MU5jQQwIxL0gAQJquw_S20wvv0/edit?gid=1972114293#gid=1972114293" 
            width="100%" 
            height="100%" 
            frameborder="0" class="google-sheet_con"
            allowfullscreen>
        </iframe>
    </div>
{% block scripts %}
    <script>
        // No additional scripts needed as the Google Sheet is directly embedded
    </script>
{% endblock %}
{% endblock %}
