{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid p-0">
        <iframe 
            src="https://docs.google.com/spreadsheets/d/1m4Xyb7mpZ6J1nk0AQesq-e9Q2U48-bwQxgcWqODxxVg/edit?gid=0#gid=0" 
            width="100%" 
            height="100%" 
            frameborder="0" class="google-sheet_con"
            allowfullscreen>
        </iframe>
    </div>
{% block scripts %}
    <script>
        // No additional scripts needed as the Google Sheet is directly embedded
    </script>
{% endblock %}
{% endblock %}
